/.devcontainer
/.vscode
/Anotated_data
/__pycache__
/dataset
/improved_learning_curves.png
/improved_model.pth
/improved_training_results.csv
/learning_curves
/learning_curves.png
/output_mip
/requirements.txt
/saved_models
/tmp.txt
/training_results.csv
/training_results_densenet.csv
/training_results_densenet_integrated.csv
/training_results_densenet_month_matched.csv